.bsb-list-item {
    transition-duration: 0.2s;
    transition-property: background-color, box-shadow;
    outline-style: none;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    padding: 12px 16px;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    
}

.bsb-share-icon {
    justify-content: center;
    padding-right: 12px;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.bsb-share-svg {
    flex-shrink: 0;
    fill: currentcolor;
    user-select: none;
    max-width: 100%;
    position: relative;
    height: 1.25em;
    color: rgb(231, 233, 234);
    display: inline-block;
    list-style: none;
}

.bsb-share-path {
    fill: currentcolor;
    color: rgb(231, 233, 234);
}

.bsb-share-text {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 20px;
    overflow-wrap: break-word;
    min-width: 0px;
    font-weight: 700;
    text-align: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: inline;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    white-space: pre-wrap;
}

.bsb-share-text > span {
    overflow-wrap: break-word;
    font-family: inherit;
    text-align: inherit;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    color: inherit;
    display: inline;
    font: inherit;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    white-space: inherit;
}
